/*-------------------------LAYOUT----------------------------*/

.wrapper {
  min-width: 1040px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: yellow;
}

.hero {
  background-color: lightcoral;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}