/*-------------------------GENERAL---------------------------*/
body {
  margin-top: 0px;
}


/*-------------------------LAYOUT----------------------------*/

.wrapper {
  min-width: 1040px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: yellow;
}

.hero {
  background-image: url("../images/your_verse_hero.jpg");
  background-color: #b6b6fc80;
  background-position: 0px 620px;
  padding: 300px 0px 300px 0px;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}